TRIGGER_SECRET_KEY=trigger_key_here

DOWNLOAD_AGENT_CRON="15 * * * *"
DOWNLOAD_AGENT_TIMEZONE=America/Los_Angeles

E2B_API_KEY=e2b_key_here

RESEND_API_KEY=resend_key_here
ALERT_EMAIL_FROM=from_email_here
ALERT_EMAIL_TO=to_email_here
